header,
main,
footer  {
    display: inline-block;
    width: 1000px;
    margin: 0 calc(50% - 500px);
    background-color: yellow;

}
main {
    background-color: pink;
}

footer {
    background-color: aquamarine;
}